---
import Accordion from '@components/Accordion'
const {Root: ARoot, Content: AContent, Item: AItem, Trigger: ATrigger} = Accordion
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<main class="flex flex-row items-center justify-center h-screen space-x-4">
		<ARoot multiple={true}>
			<AItem>
				<AContent>
					<p>Content 1</p>
				</AContent>
				<ATrigger>
					<button>Trigger 1</button>
				</ATrigger>
			</AItem>
			<AItem>
				<AContent>
					<p>Content 2</p>
				</AContent>
				<ATrigger>
					<button>Trigger 2</button>
				</ATrigger>
			</AItem>
		</ARoot>
	</main>
	</body>
</html>