---
import Alert from '@components/Alert'
const { Root: ARoot, Title: ATitle, Description: ADesc } = Alert
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<main class="flex flex-col items-center justify-center h-screen space-y-4">
		<ARoot variant="default">
			<ATitle icon="tabler:brand-astro" >
				Hello Astro!
			</ATitle>
			<ADesc>
				This is a Deacription!
			</ADesc>
		</ARoot>
		<ARoot variant='alert'>
			<ATitle icon="tabler:brand-astro">
				Hello Astro!
			</ATitle>
			<ADesc>
				This is a Deacription!
			</ADesc>
		</ARoot>
	</main>
	</body>
</html>