---
interface Props {
    class?: string;
    id?: string;
    variant?: 'default' | 'alert' | 'success' | 'note';
    radius?: 'rounded' | 'full' | 'none'
}
const {
    class: className,
    id: alertId,
    variant = 'default',
    radius = 'rounded'
} = Astro.props
const styles = {
    'default': 'border-gray-200 text-gray-600 shadow-gray-400/20',
    'alert': 'border-red-200 text-red-500 shadow-red-500/20',
    'success': 'border-green-300 text-green-500 shadow-green-500/20',
    'note': 'border-sky-200 text-sky-500 shadow-sky-500/20',
}
const radii = {
    'rounded': 'rounded-lg',
    'full': 'rounded-full',
    'none': '',
}
---

<div class={`flex flex-col shadow-lg text-start py-4 px-8 border ${styles[variant]} ${radii[radius]} ${className}`} id={`${alertId}`}>
    <slot />
</div>