---
interface Props {
    class?: string;
    id?: string;
    radius?: 'rounded' | 'full' | 'none'
}
const {
    class: className,
    id: alertId,
    radius = 'rounded'
} = Astro.props
const radii = {
    'rounded': 'rounded-lg',
    'full': 'rounded-full',
    'none': '',
}
---

<div class={`flex flex-col overflow-hidden shadow-lg shadow-sky-500/20 text-start border ${radii[radius]} ${className}`} id={`${alertId}`}>
    <slot />
</div>