---
interface Props {
    class?: string;
    id?: string;
    transition?: 'slide'
    transitionConfig?: transitionConfigType;
}
type transitionConfigType = {
    duration: number
}
const {
    class: className,
    id: accordionId,
    transition = 'slide',
    transitionConfig = {duration:200},
} = Astro.props
---

<div class={`shiki-accordion-content grid ${className}`}
    id={`${accordionId}`}
    data-is-open
>
    <div class="w-full h-full overflow-hidden">
        <slot />
    </div>
</div>

<style lang="postcss">
    .shiki-accordion-content {
        transition: grid-template-rows 0.3s ease, padding 0.3s ease;
    }
    .shiki-accordion-content[data-is-open='open'] {
        @apply px-2 py-4;
        grid-template-rows: 1fr;
    }
    .shiki-accordion-content[data-is-open='close'] {
        @apply px-2 py-0;
        grid-template-rows: 0fr;
    }
</style>