---
interface Props {
    class?: string;
    id?: string;
    value: string;
}
const {
    class: className,
    id: accordionId,
    value,
} = Astro.props
---

<div class={`shiki-accordion-item ${className}`} id={`${accordionId}`} data-value={value}>
    <slot />
</div>
