---
interface Props {
    class?: string;
    id?: string;
    isOpen?: boolean;
}
const {
    class: className,
    id: accordionId,
    isOpen = false,
} = Astro.props
---

<div class={`shiki-accordion-trigger border-b border-sky-200 px-2 py-4 ${className}`} id={`${accordionId}`} data-is-open={isOpen ? 'open' : 'close'}>
    <slot />
</div>

<style lang="postcss">
    .shiki-accordion-trigger[data-is-open='open'] {
    }
    .shiki-accordion-trigger[data-is-open='close'] {
    }
</style>