---
interface Props {
    class?: string;
    id?: string;
    multiple?: boolean;
    name: string;
}
const {
    class: className,
    id: accordionId,
    multiple = false,
    name,
} = Astro.props;
const accordionName = 'accordion-' + name + ':' + multiple ? '1' : '0'
let opened: string[] = []
function toggleOpen(index: string, multiple: boolean) {
    if (opened.includes(index)) {
        opened.filter((i) => i != index)
    } else {
        if (multiple) {
            opened.push(index)
        } else {
            opened = [index]
        }
    }
}
---

<div class={`shiki-accordion-root w-full ${className}`} id={accordionId} data-accordion={accordionName}>
    <slot />
</div>

<script>
    const accordions = document.querySelectorAll('.shiki-accordion-root')
    if (!accordions) return
    accordions.forEach((el) => {
        const items = el.querySelectorAll('.shiki-accordion-item')
        if (!items) return
        items.forEach((item, i) => {
        const trigger = item.querySelector('.shiki-accordion-trigger')
        const content = item.querySelector('.shiki-accordion-content')
        if (!trigger || !content) return
        content.setAttribute('data-is-open', trigger.getAttribute('data-is-open') || 'close')
        trigger.addEventListener('click', () => {
            const isOpen = trigger.getAttribute('data-is-open') || 'close'
            const set = isOpen == 'open' ? 'close' : 'open'
            trigger.setAttribute('data-is-open',set)
            content.setAttribute('data-is-open',set)
        })
    })
    })
</script>